nav a{
    color: blue;
    font-size:20px;
}

#current-link{
    text-decoration:aqua;
    
}
.uppercase{
    text-transform: uppercase;
    font-size: 45px;
    color: whitesmoke;
    font-style: initial
}

img{
    width: 400px;
    height: auto;
}

.nameheading{
    color: #555;
    font-size: 30px;
    font-style: initial;
    font-variant: ruby;
}

.maintext{
    color: black;
    font-size: 23px;
    font-style: initial;
    letter-spacing: 1px;
    line-height: 1.6em;
    font-weight: 100;
    font-variant: annotation;
    font-language-override: inherit;
    
    
}

h1{
   margin: 3px;
   text-align: center;
  text-decoration-style: wavy;
  column-count: auto;
  border-bottom: 2px blanchedalmond groove;
}

h3{
   margin: 3px;
  text-decoration-style: wavy;
  column-count: auto;
  
}

.just{
    width: 70px;
    height: 70px;
    text-align: right;
}

.swag{
    width: 70px;
    height: 70px;
    alignment-adjust: text-after-edge;
    text-align: right;
}

.sweg{
    width: 70px;
    height: 70px;
    text-align: right;
}


.coolbeans{
    width: 70px;
    height: 70px;
    text-align: right;
}
.ding{
     font-size: 30px;
    color: #555;
    font-style: initial
}

.dong{
      color: #555;
    font-size: 30px;
    font-style: initial;
    font-variant: ruby; 
}

.padded{
      color: #555;
    font-size: 10px;
    font-style: initial;
    font-variant: ruby; 
}
