/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 2, 2015, 6:48:04 PM
    Author     : Student
*/

img{
    width: 300px;
    height: 220px;
}